html,
body,
.full-height {
  height: 100%;
}
.text-inverse {
  color: #999 !important;
}
.text-inverse:hover {
  color: #eee !important;
}
.nowrap {
  white-space: nowrap;
}
.no-decoration {
  text-decoration: none !important;
}
.bg-none {
  background: none;
}
.hover-sibling + .show-child {
  display: none;
}
.hover-sibling:hover + .show-child,
.hover-sibling + .show-child:hover {
  display: block;
}
.hover-parent .show-child {
  display: none;
}
.hover-parent:hover .show-child {
  display: block;
}
.absolute-thumb {
  overflow: hidden;
  height: 370px;
}
.absolute-thumb img {
  width: 100%;
}
.cursor-default {
  cursor: default;
}
.cursor-pointer {
  cursor: pointer;
}
.border-default {
  border: solid 1px #eee;
}
ul {
  padding-left: 20px;
  margin: 0px;
}
li {
  list-style: none;
}
a {
  color: #333;
}
a:hover,
a:focus {
  color: #de0c00;
  text-decoration: none;
}
.right-wrapper .breadcrumbs {
  padding: 0px 20px;
}
.form-bordered .form-group {
  border: none;
  padding-bottom: 10px;
  margin-bottom: 0px;
}
/*.form-control {
    height: 28px;
    padding: 5px 7px;
    font-size: 13px;
}*/
.help-block {
  margin-top: 0;
  margin-bottom: 0;
}
.table tr td:last-child {
  white-space: nowrap;
}
.text-left {
  text-align: left !important;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .open > a:hover {
  color: #fff;
  background-color: #374a61;
}
